@import "fonts";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik';
}

a {
    text-decoration: none;
    color: #000;
}
div {
    box-sizing: border-box;
}
.f-col {
    display: flex;
    flex-direction: column;
}
.f-row {
    display: flex;
    align-items: center;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__content {
        display: grid;       
        width: 100%;
        max-width: 100%;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
        @media(max-width: 800px) {
            grid-template-columns: 1fr;
        }
        @media(min-width: 500px){
            padding: 20px;
        }
    }

    &__title {
        max-width: 80vw;
        text-align: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 8px;
}

.btn {
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 42px;
    align-items: center;
    cursor: pointer;
    transition: .4s all ease-in-out;
    svg {
        margin-right: 10px;
    }
    &--default {
        border: 2px solid #000;
        &:hover {
            background: rgba(0,0,0,.2);
          }
    }
}

.custom-checkbox {
    position: relative;

    &.--empty {
        height: 20px;

        &>label {
            padding-left: 20px;
        }
    }

    &.--disabled {
        .custom-checkbox__container {
            cursor: inherit;
        }
    }

    &__container {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        height: 20px;
        cursor: pointer;
        font-size: 14px;
        line-height: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        -webkit-tap-highlight-color: transparent;
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #DADADA;
        -webkit-box-shadow: inset 0 0 0 2px #DADADA, inset 0 0 0 4px #fff;
        box-shadow: inset 0 0 0 1px #DADADA, inset 0 0 0 2px #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    &__container:hover input~span {
        background-color: #C4C4C4;
    }

    &__container input:checked~span {
        background-color: #DADADA;
    }

    &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    &__container input:checked~span:after {
        display: block;
    }

    &__container span:after {
        left: 50%;
        top: 50%;
        width: 16px;
        height: 16px;
        background-color: #000;
        -webkit-mask-image: url("~@/assets/icons/icon_checked.svg");
        mask-image: url("~@/assets/icons/icon_checked.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        transform: translate(-50%, -50%);
    }

}